# Ignore the CMake build directory completely
build/

# Ignore local editor/IDE settings
.vscode/

# Ignore leftover compiler artifacts
*.exe
*.obj
*.pdb
*.csv
*png

# Include these files as good data runs
!keepdata/
!keepdata/**

