# Ignore the CMake build directory completely
build/

# Ignore local editor/IDE settings
.vscode/

# Ignore leftover compiler artifacts
*.exe
*.obj
*.pdb
*.csv
*png

# Include these files as good data runs
!keepdata/
!.25_.5CNTat0_graphs_and_files/*.png
!.25_.5CNTat0_graphs_and_files/*.csv

